// Gallery

#gallery {
  section{
    display: flex;
    flex-wrap: wrap;
  }
  div{
    flex-grow: 1;
    margin: 2px;
    // background-color: violet;
    height: 200px;
  }
  img{
    height: 200px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
  }
}
