// Gallery

#gallery {

  section {
    display: inline-flex;
    flex-wrap: wrap;
  }

  div {
    flex-grow: 1;
    margin: .1em;
    height: 15em;
  }

  img {
    height: 15em;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
  }
}
